


/*
 * Princess icons
 */
.pc-icons {
	background: url(../images/sprite_pc-icons.svg) no-repeat transparent;
	direction: ltr;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
	vertical-align: middle;
	margin: 0 .35em;
}
.pc-icons.inline {
	display: inline-block;
}
.no-svg .pc-icons {
	background-image:url(../images/sprite_pc-icons.png);
}
.lt-ie8 .pc-icons {
	display: inline;
	zoom: 1;
}
.pc-icons:hover {
	text-decoration: none;
}
.pc-icons.deactive {
	cursor: default;
	filter: alpha(opacity=40);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: .4;
}
/*example 'blue-circle-qmark describes the icon. 16 is the height.*/
/* 10px icons */
.blue-downarrow-10 {
	background-position: 0px 0px;
	height:10px;
	width:20px;
}
.blue-uparrow-10 {
	background-position: -25px 0px;
	height:10px;
	width:20px;
}
.white-downchevron-10 {
	background-position: -50px 0px;
	height:10px;
	width:15px;
}
.white-upchevron-10 {
	background-position: -70px 0px;
	height:10px;
	width:15px;
}
/* 12px icons */
.green-checkmark-12 {
	background-position: 0 -20px;
	height:12px;
	width:15px;
}
.blue-pencil-12 {
	background-position: -195px -20px;
	height:12px;
	width:15px;
}
.white-pencil-12 {
	background-position: -271px -20px;
	height:12px;
	width:12px;
}
.blue-x-12 {
	background-position: -210px -20px;
	height:12px;
	width:15px;
}
.blue-plus-12 {
	background-position: -230px -20px;
	height:12px;
	width:15px;
}
.white-print-12 {
	background-position: -247px -20px;
	height:12px;
	width:18px;
}
.red-x-12 {
	background-position: -289px -20px;
	height:12px;
	width:12px;
}
.white-x-12 {
	background-position: -370px -20px;
	height:12px;
	width:12px;
}
.gray-qmark-12 {
	background-position: -306px -20px;
	height:12px;
	width:8px;
}
.blue-uparrow-12 {
	background-position: -334px -20px;
	height:12px;
	width:12px;
}
.blue-downarrow-12 {
	background-position: -319px -20px;
	height:12px;
	width:12px;
}
.blue-goback-12 {
	background-position: -351px -20px;
	height:12px;
	width:15px;
}
.blue-envelope-12 {
	background-position: -424px -20px;
	height: 12px;
	width: 18px;
}
.white-envelope-12 {
	background-position: -447px -20px;
	height: 12px;
	width: 18px;
}
.black-ada-12 {
	background-position: -470px -20px;
	height: 12px;
	width: 11px;
}
.white-ship-12 {
	background-position: -487px -20px;
	height: 12px;
	width: 25px;
}
/* 14px icons */
.red-circle-x-14 {
	background-position: -19px -42px;
	height: 14px;
	width: 14px;
}
.white-circle-x-14 {
	background-position: -90px -42px;
	height: 14px;
	width: 14px;
}
.blue-circle-qmark-14 {
	background-position: 0 -42px;
	height: 14px;
	width: 14px;
}
.blue-circle-look-14 {
	background-position: -38px -42px;
	height: 14px;
	width: 14px;
}
.blue-circle-plus-14 {
	background-position: -119px -42px;
	height: 14px;
	width: 14px;
}
.white-outline-qmark-14 {
	background-position: -138px -42px;
	height: 14px;
	width: 14px;
}
.blue-search-14 {
	background-position: -157px -42px;
	height: 14px;
	width: 13px;
}
.white-search-14 {
	background-position: -174px -42px;
	height: 14px;
	width: 13px;
}
.white-heart-14 {
	background-position: -191px -42px;
	height: 14px;
	width: 16px;
}
.white-heart-outline-14 {
	background-position: -212px -42px;
	height: 14px;
	width: 16px;
}
.blue-heart-14 {
	background-position: -269px -42px;
	height: 14px;
	width: 16px;
}
.blue-heart-outline-14 {
	background-position: -290px -42px;
	height: 14px;
	width: 16px;
}
.user-14 {
	background-position: -233px -42px;
	height: 14px;
	width: 13px;
}
.blue-user-14 {
	background-position: -251px -42px;
	height: 14px;
	width: 13px;
}
.white-chat-bubbles-14 {
	background-position: -311px -42px;
	height: 14px;
	width: 22px;
}
.blue-chat-bubbles-14 {
	background-position: -337px -42px;
	height: 14px;
	width: 22px;
}
.white-hangtag-14 {
	background-position: -382px -42px;
	height: 14px;
	width: 14px;
}
.blue-hangtag-14 {
	background-position: -382px -42px;
	height: 14px;
	width: 14px;
}
.blue-envelope-14 {
	background-position: -401px -42px;
	height: 14px;
	width: 21px;
}
.white-envelope-14 {
	background-position: -426px -42px;
	height: 14px;
	width: 21px;
}
.white-phone-14 {
	background-position: -452px -42px;
	height: 14px;
	width: 11px;
}

/* 16px icons */
.blue-circle-qmark-16 {
	background-position: 0 -66px;
	height: 16px;
	width: 16px;
}
.blue-circle-look-16 {
	background-position: -21px -66px;
	height: 16px;
	width: 16px;
}
.blue-circle-print-16 {
	background-position: -42px -66px;
	height: 16px;
	width: 16px;
}
.white-outline-qmark-16 {
	background-position: -63px -66px;
	height: 16px;
	width: 16px;
}
.white-heart-16 {
	background-position: -84px -66px;
	height: 16px;
	width: 19px;
}
.white-heart-outline-16 {
	background-position: -105px -66px;
	height: 16px;
	width: 19px;
}
.exclamation-red-icon-16 {
	background-position:-146px -66px;
	height:16px;
	width:20px;
}
.exclamation-orange-icon-16 {
	background-position:-126px -66px;
	height:16px;
	width:20px;
}
.blue-qmark-icon-16 {
	background-position:0px -60px;
	height:16px;
	width:20px;
}
.white-horn-16 {
	background-position: -170px -66px;
	height: 15px;
	width: 24px;
}
.white-qmark-16 {
	background-position: -199px -66px;
	height: 16px;
	width: 11px;
}
.white-book-16 {
	background-position: -215px -66px;
	height: 16px;
	width: 12px;
}
.white-facebook-icon-16 {
	background-position: -232px -66px;
	height: 16px;
	width: 9px;
}
.white-pinterest-icon-16 {
	background-position: -246px -66px;
	height: 16px;
	width: 13px;
}
.white-print-16 {
	background-position: -264px -66px;
	height: 16px;
	width: 25px;
}
/* 18px icons */
.black-phone-18 {
	background-position: 0 -92px;
	height: 18px;
	width: 15px;
}
.blue-downarrow-18 {
	background-position: -21px -92px;
	height: 18px;
	width: 60px;
}
.blue-outline-uparrow-18 {
	background-position: -89px -92px;
	height: 18px;
	width: 60px;
}
/* 20px icons */
.refresh-20 {
	background-position: 0 -120px;
	height: 20px;
	width:18px;
}
.blue-phone-20 {
	background-position: -21px -120px;
	height:20px;
	width:17px;
}
.black-phone-20 {
	background-position: -40px -120px;
	height:20px;
	width:17px;
}
.white-phone-20 {
	background-position: -59px -120px;
	height:20px;
	width:17px;
}
.envelope-20, .blue-envelope-20 {
	background-position: -80px -120px;
	height: 20px;
	width: 30px;
}
.white-envelope-20 {
	background-position: -115px -120px;
	height: 20px;
	width: 30px;
}
.white-ship-20 {
	background-position: -150px -120px;
	height: 20px;
	width: 41px;
}
/* 22px icons */
.white-calendar-22 {
	background-position: -227px -150px;
	height: 22px;
	width: 22px;
}
.users-22 {
	background-position: -255px -150px;
	height: 22px;
	width: 29px;
}
.white-chat-bubble-22 {
	background-position: -290px -150px;
	height: 22px;
	width: 26px;
}
.white-chat-bubbles-22 {
	background-position: -616px -150px;
	height: 22px;
	width: 34px;
}
.blue-chat-bubbles-22 {
	background-position: -758px -150px;
	height: 22px;
	width: 34px;
}
.black-chat-bubbles-22 {
	background-position: -815px -150px;
	height: 22px;
	width: 34px;
}
.white-ciricle-check-22 {
	background-position: -321px -150px;
	height: 22px;
	width: 22px;
}
.blue-search-22 {
	background-position: -348px -150px;
	height: 22px;
	width: 21px;
}
.white-search-22 {
	background-position: -374px -150px;
	height: 22px;
	width: 21px;
}
.white-x-22 {
	background-position: -485px -150px;
	height: 22px;
	width: 20px;
}
.white-heart-22 {
	background-position: -400px -150px;
	height: 22px;
	width: 25px;
}
.white-heart-outline-22 {
	background-position: -430px -150px;
	height: 22px;
	width: 25px;
}
.blue-heart-22 {
	background-position: -673px -150px;
	height: 22px;
	width: 25px;
}
.blue-heart-outline-22 {
	background-position: -703px -150px;
	height: 22px;
	width: 25px;
}
.user-22 {
	background-position: -460px -150px;
	height: 22px;
	width: 20px;
}
.blue-user-22 {
	background-position: -733px -150px;
	height: 22px;
	width: 20px;
}
.white-dollar-sign-22 {
	background-position: -654px -150px;
	height: 22px;
	width: 14px;
}
.blue-dollar-sign-22 {
	background-position: -796px -150px;
	height: 22px;
	width: 14px;
}
.white-hangtag-22 {
	background-position: -881px -150px;
	height: 22px;
	width: 22px;
}
.blue-hangtag-22 {
	background-position: -854px -150px;
	height: 22px;
	width: 22px;
}
.blue-phone-22 {
	background-position: -908px -150px;
	height: 22px;
	width: 17px;
}
.captains-circle-gold-22 {
	background-position: -511px -150px;
	height: 22px;
	width: 23px;
}
.captains-circle-ruby-22 {
	background-position: -536px -150px;
	height: 22px;
	width: 23px;
}
.captains-circle-platinum-22 {
	background-position: -563px -150px;
	height: 22px;
	width: 23px;
}
.captains-circle-elite-22 {
	background-position: -588px -150px;
	height: 22px;
	width: 23px;
}
/* 23px icons */
.blue-checkmark-23 {
	background-position: -199px -150px;
	height:23px;
	width:23px;
}
/* 24px icons */
.ada-24 {
	background-position: 0 -182px;
	height: 24px;
	width: 24px;
}
.visa-24 {
	background-position: -72px -182px;
	height: 24px;
	width: 38px;
}
.mc-24 {
	background-position: -115px -182px;
	height: 24px;
	width: 38px;
}
.amex-24 {
	background-position: -201px -182px;
	height: 24px;
	width: 38px;
}
.blue-ship-24 {
	background-position: -246px -182px;
	height: 24px;
	width: 50px;
}
.discover-24 {
	background-position: -29px -182px;
	height: 24px;
	width: 38px;
}
.dinners-24 {
	background-position: -158px -182px;
	height: 24px;
	width: 38px;
}
.warning-triangle-bang-24 {
	background-position: 0 -252px;
	height: 28px;
	width: 30px;
}
/* 28px icons */
.envelope-28 {
	background-position: -35px -252px;
	height: 28px;
	width: 51px;
}
.chat-online-28 {
	background-position: -94px -251px;
	height: 29px;
	width: 110px;
}
.chat-offline-28 {
	background-position: -211px -251px;
	height: 29px;
	width: 110px;
}
.green-envelope-28 {
	background-position: -327px -252px;
	height: 28px;
	width: 41px;
}
.gray-shorex-28 {
	background-position: -374px -252px;
	height: 28px;
	width: 54px;
}
.gray-info-28 {
	background-position: -433px -252px;
	height: 28px;
	width: 28px;
}
/* 30px icons */
.blue-circle-email-30 {
	background-position: 0 -290px;
	height: 30px;
	width: 30px;
}
.blue-circle-print-30 {
	background-position: -35px -290px;
	height: 30px;
	width: 30px;
}
/* 32px icons */
.green-circle-checkmark-32 {
	background-position: 0px -330px;
	height: 32px;
	width: 32px;
}
.gray-circle-checkmark-32 {
	background-position: -97px -330px;
	height: 32px;
	width: 32px;
}
.virtual-tour-32 {
	background-position: -40px -330px;
	height: 32px;
	width: 43px;
}
/* 36px icons */
.shorex-36 {
	background-position: 0px -372px;
	height: 36px;
	width: 69px;
}
.cruise-with-me-36 {
	background-position: -74px -372px;
	height: 36px;
	width: 163px;
}
.blue-ship-36 {
	background-position: -242px -372px;
	height: 36px;
	width: 74px;
}
/* 42px icons */
.brochure-42 {
	background-position: 0px -418px;
	height: 42px;
	width: 37px;
}
.map-42 {
	background-position: -42px -418px;
	height: 42px;
	width: 45px;
}
/* 48px icons */
.gold-laurel-left-48 {
	background-position: -92px -418px;
	height: 48px;
	width: 18px;
}
.gold-laurel-right-48 {
	background-position: -115px -418px;
	height: 48px;
	width: 18px;
}
/* Touch icons */
.touch-icon {
	background: transparent;
	border: none;
	cursor:pointer;
	display: block;
	height: 100%;
	line-height: 1;
	margin: 0;
	overflow: hidden;
	padding: 8px 5px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 50px;
}
.touch-icon .touch-text {
	bottom: 5px;
	color: #0054A0;
    display: block;
    font-size: 11px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
.touch-icon .touch-bar {
	background: #0054A0;
	display: block;
	height: 3px;
	pointer-events: none;
	position: relative;
	margin: 0 auto 3px;
	-webkit-transition: all 100ms linear 0s;
	-moz-transition: all 100ms linear 0s;
	-o-transition: all 100ms linear 0s;
	transition: all 100ms linear 0s;
	width: 20px;
}
