*{
  box-sizing: border-box;
}
h1{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
#background{
  color: white;
  max-width:1700px;
  margin: auto;
  font-family: arial;
  background-image: url("http://www.meanlien.com/images/background.jpg");
  background-repeat: repeat-y;
}
#container{
  background-color: rgba(15, 15, 15, 0.7);
}
.title-width{
  margin-right: auto;
}
.title-link{
  text-decoration: none;
}
.headerTitle:hover{
  background-color: rgba(10,10,10,1);
}
.headerTitle{
  color: white;
  opacity: 2;
  display: block;
  text-align: center;
  padding: 2px;
}
.headerImage{
  max-width: 1700px;
  background-repeat: repeat-y;
}
.header-tab-list{
  font-size: 18px;
  text-align: center;
  margin-left: -15px;
}
.header-item{
  display:inline-block;
  text-align: center;

  padding: 10px;
}
.header-item:hover{
  background-color: rgba(10,10,10,1);
}
.header-link{
  color: white;
  text-decoration: none;
}
.headerName {
  line-height: 0.5;
  text-align: center;
}
.headerName span {
  display: inline-block;
  position: relative;
}
.headerName span:before,
.headerName span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.headerName span:before {
  right: 100%;
  margin-right: 15px;
}
.headerName span:after {
  left: 100%;
  margin-left: 15px;
}
.row-header{
      background-color: rgba(15, 15, 15, 0.7);
}
#subTitle{
  text-align: center;
}
.subTopic{
  margin-left: 30px;
  margin-right: 30px;
}
.active-tab{
  background-color: #787878;
}
.project-item{
  display:inline-block;
  width:48%;
  vertical-align: top;
}
.projectImg{
  float: left;
  margin: 10px;
  margin-left:
}
.project-title{
  letter-spacing: 1px;
  text-align: center;
}
.project-text{
  letter-spacing: 1px;
}
.link-view{
  color:white;
  text-decoration: none;
}
.asteroid-game{
  position: relative;
  left: 25%;
}

@media screen and (max-width: 900px){

}
@media screen and (max-width: 768px){
  .projectImgDiv{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .projectText{
    display:inline-block;
    margin-left: 30px;
    margin-right: 30px;
  }
}
/*PC Icons*/
.pc-icons {
	background: url(../images/sprite_pc-icons.svg) no-repeat transparent;
	direction: ltr;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
	vertical-align: middle;
	margin: 0 .35em;
}
.white-downchevron-10 {
	background-position: -50px 0px;
	height:10px;
	width:15px;
}
.white-upchevron-10 {
	background-position: -70px 0px;
	height:10px;
	width:15px;
}
.white-facebook-icon-16 {
	background-position: -232px -66px;
	height: 16px;
	width: 9px;
}
.white-pinterest-icon-16 {
	background-position: -246px -66px;
	height: 16px;
	width: 13px;
}
.white-envelope-14 {
	background-position: -426px -42px;
	height: 14px;
	width: 21px;
}
